@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  /* Change 'height' to 'min-height' */
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  background-color: #030617;
  /* Ensure the background color covers the entire scrollable area */
  background-attachment: fixed; 
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
  }

  ul {
    padding-left: 1.5em;
    list-style-type: disc;
  }

  ol {
    padding-left: 1.5em;
    list-style-type: decimal;
  }

  li {
    margin-bottom: 0.5em;
  }

  /* Nested lists */
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin-top: 0.5em;
  }
}

.ProseMirror {
  min-height: 400px;
  height: 100%;
  overflow-y: auto;
  background-color: transparent;
  color: white;
}

.ProseMirror img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

/* Style for focused editor */
.ProseMirror:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

/* Fix for Typography Plugin in Dark Mode */
.prose-invert {
  --tw-prose-body: rgba(255, 255, 255, 0.8);
  --tw-prose-headings: #ffffff;
  --tw-prose-links: #0070f3;
  --tw-prose-bold: #ffffff;
}

/* NextUI Card Dark Mode Manual Override */
.dark-card {
  background-color: #0b1121 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
}